<div>
    {% extends "MarketCons/cliente.html" %}
    {% load static %}
    
    {% block getCliente %}
        <p>Consultar Cliente</p>
        <form action="/MarketCons/buscarCliente/" method="GET">
            <input placeholder="Usuario" type="text" name="usuario" id="usuario">
            <input type="submit" value="Buscar">
        </form>

        {% if clientes %}
            {% for cliente in clientes %}
                <li> {{cliente.nombre}} </li>
                <li> {{cliente.apellido}} </li>
                <li> {{cliente.email}} </li>
            {% endfor %}
        <p></p>
        {% endif %}        
    {% endblock %}    
</div>
